<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Operator Manager Application</title>

</head>

<body>
	<div align="center">
		<!-- Page header -->
		<h1>Insert nr Klienta</h1>

		<!-- End line/ new line -->
		<br />
		<!-- End line/ new line -->
		<br /> <br />
		<!-- th:object="*${adres_email}" -->
		<form action="#" th:action="@{/klient_view/{nr_klienta}(nr_klienta=${login.nr_klienta})}" th:object="${login}"
			th:id method="post">


			<!-- Table -->
			<table border="1" cellpadding="10">
				<!-- Table (first) row -->
				<tr>
					<td>Nr klienta:</td>
					<td><input type="text" name="nr_klienta" th:field="*{nr_klienta}"></td>
				</tr>
				<!-- Button save -->
				<tr>
					<td colspan="2"><button type="submit" th:nr_klienta = "${nr_klienta}"
							class="btn btn-outline-secondary">Enter</button></td>
				</tr>
			</table>
		</form>
	</div>

	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
		crossorigin="anonymous">
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
</body>
</html>